div {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.ust {
    border-radius: 10px;
    width: 100%;
    height: 30px;
    background-color: steelblue;
    color: white;
}

    .ust img {
        float: left;
    }

.mail {
    margin-left: 5%;
    margin-right: 1%;
    width: 2%;
    height: 30px;
    color: #004e8d;
}

.tel1 {
    margin-left: 5%;
    margin-right: 1%;
    width: 2%;
    height: 30px;
}

.tel2 {
    margin-left: 5%;
    margin-right: 1%;
    width: 2%;
    height: 30px;
}

.ust ul li {
    float: left;
    width: 20%;
    height: 30px;
    align-items: center;
    list-style-type: none;
    padding-top: 8px;
    font-family: 'Times New Roman', Times, serif;
}

.ust p {
    float: right;
    width: 10%;
    height: 22px;
    margin-left: 80%;
    margin-right: 5%;
    text-align: center;
    background-color: #FF0000;
    color: #FFFFFF;
    align-items: center;
    padding-top: 8px;
    font-family: Impact;
    margin-top: -38px;
}

.header {
    width: 100%;
    height: 130px;
    background-color: white;
    margin-top: -16px;
    z-index: 1;
}

.logo img {
    width: 10%;
    height: 80px;
    margin-left: 2%;
    border-radius: 10px;
    float: left;
}

.menu ul li {
    list-style-type: none;
    float: left;
    margin-left: 6%;
    margin-top: 30px;
    text-decoration: none;
    transition: border-bottom 0.2s;
}

    .menu ul li a:hover {
        color: red;
        font-size: 170%;
        text-decoration: underline;
    }

    .menu ul li a {
        color: royalblue;
        text-decoration: none;
        font-family: 'Vladimir Script';
        font-size: 150%;
    }

.menu form {
    float: right;
    margin-top: 30px;
    margin-right: 8%;
}

.search-box {
    margin-left: 1%;
    width: 60%;
    height: 40px;
    font-family: 'Vladimir Script';
    border-radius: 10px;
}

.search-button {
    width: 30%;
    height: 45px;
    font-family: 'Vladimir Script';
    border-radius: 10px;
}

.slider {
    margin-bottom: -15px;
    border-radius: 10px;
    background-color: #004e8d;
}

.section {
    margin-top: -100px;
    width: 100%;
    height: 620px;
    border-radius: 10px;
    background-color: #004e8d;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.sec {
    width: 80%;
    height: 100px;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-family: 'Times New Roman';
    font-style: italic;
    font-size: 40px;
    padding-top: 20px;
}

.sec1 {
    float: left;
    width: 30%;
    height: 450px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    border: solid;
    background-color: deepskyblue;
    color: white;
    font-family: Big John;
    font-size: 20px;
    border-color: greenyellow;
}

.sec2 {
    float: left;
    width: 30%;
    height: 450px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    border: solid;
    background-color: deepskyblue;
    color: #ffffff;
    font-family: Big John;
    font-size: 20px;
    border-color: greenyellow;
}

.sec3 {
    float: left;
    width: 30%;
    height: 450px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    border: solid;
    background-color: deepskyblue;
    color: white;
    border-color: greenyellow;
    font-family: Big John;
    font-size: 20px;
}

.section img {
    margin-top: 5px;
}

.yaz1 {
    font-size: 16px;
    margin-top: 30px;
    font-family: 'Times New Roman';
    font-style: italic;
    text-align: center;
}

.okul1 {
    width: 100%;
    height: 190px;
    padding-top: 22px;
}

.okul2 {
    width: 50%;
    height: 190px;
    padding-top: 10px;
}

.sag {
    width: 30%;
    height: 220px;
    float: right;
    text-align: center;
    border: solid;
    border-color: greenyellow;
    background-color: #004e8d;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    margin-right: 25px;
}

.sol {
    width: 30%;
    height: 220px;
    float: left;
    text-align: center;
    border: solid;
    border-color: greenyellow;
    background-color: #004e8d;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    margin-left: 20px;
}

.sag img {
    margin-top: 10px;
    width: 20%;
    height: 100px;
}

.sol img {
    margin-top: 10px;
    width: 20%;
    height: 100px;
}

.orta {
    border-radius: 10px;
    width: 30%;
    height: 220px;
    background-color: mediumseagreen;
    margin-left: 44px;
    margin-top: 5px;
    float: left;
    border: solid;
    color: white;
    border-color: #004e8d;
    text-align: center;
}

    .orta iframe {
        margin-top: 1%;
        border: solid;
        border-radius: 10px;
        width: 95%;
        height: 165px;
    }

.footer {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    width: 100%;
    height: 240px;
    border: solid;
    border-color: #004e8d;
    border-radius: 10px;
}
.aciklama {
    width: 100%;
    height: 10%;
    background-image: linear-gradient(to bottom, #0071c4 0%, #004e8d 50%, #004e8d 100%);
    color:white;
    margin-top:-45px;
}
    .aciklama h2 {
        width: 30%;
        height: 10%;
        font-size: 300%;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 35%;
        text-align: center;
        font-family: 'Vladimir Script';
    }
.vizyon {
    width: 100%;
    height: 40%;
}
/*.bh{
    width:10%;
    height:10%;
    padding-left:5%;
}*/
    .yazi {
        font-size: 250%;
        text-align: center;
        font-family: 'Century Gothic';
    }
.vz {
    width: 3%;
    height: 3%;
    padding-left: 50%;
    position: relative; /* İçerik öğesini pozisyonlandırmak için */
    z-index: 1;
}
.ms {
    position: relative; /* İçerik öğesini pozisyonlandırmak için */
    z-index: 1;
    width: 3%;
    height: 3%;
    padding-left: 50%;
}
    .hf
{
    position: relative; /* İçerik öğesini pozisyonlandırmak için */
    z-index: 1;
    width: 3%;
    height: 3%;
    padding-left: 50%;
}
.resYaz p {
    position: relative; /* İçerik öğesini pozisyonlandırmak için */
    z-index: 1;
    text-align: center;
    font-family: Papyrus;
    font-size: 150%;
    opacity:200%;
}
.op {
    background-image: url("arka_plan_resmi.jpg");
    opacity: 0.2; /* Arka plan opaklık değeri */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.ilkokul img {
    width: 40%;
    height: 60%;
    margin-top: -330px;
    z-index: 1;
}
.ilkokul p {
    width: 55%;
    height: 35%;
    padding-top: 20px;
    padding-left: 45%;
    text-align: center;
    font-family: 'Lucida Bright';
    font-size: 100%;
    z-index: 1;
}

.ortaokul img {
    width: 40%;
    height: 60%;
    padding-left: 50%;
    z-index: 1;
}
.ortaokul p {
    width: 55%;
    height: 35%;
    margin-top: -350px;
    text-align: center;
    font-family: 'Lucida Bright';
    font-size: 100%;
    z-index: 1;
}
.lise img {
    width: 40%;
    height: 60%;
    padding-top: 150px;
    z-index: 1;
}
.lise p {
    width: 55%;
    height: 35%;
    padding-left: 45%;
    margin-top: -300px;
    padding-bottom: 200px;
    text-align: center;
    font-family: 'Lucida Bright';
    font-size: 100%;
    z-index: 1;
}
.opK {
    background-image: url('image/bilisim-atolyesi (1) (1).jpg');
    opacity: 0.2; /* Arka plan opaklık değeri */
    position: fixed;
    bottom: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.basin p{
    text-align:center;
    font-family:Papyrus;
    font-size:200%;
    border-color:dodgerblue;
    border:solid;
    border-radius:10px;
}
.basin iframe {
    margin-left:8%;
    margin-right:8%;
}

.opI {
    background-image: url('image/çbk logo 2 (1).png');
    opacity: 0.2; /* Arka plan opaklık değeri */
    position: fixed;
    width: 100%;
    height: 100%;
    
    z-index: -1;
}
.iletisim {
    float: left;
}
a {
    text-decoration: none; /* Alt çizgiyi kaldır */
}
.Iresim img {
    width: 30%;
    height: 40%;
    padding-left: 10px;
    padding-bottom: 10px;
    float: left;
}
.Iresim p {
    margin-left: 38%;
    margin-right: 10%;
    background-image: linear-gradient(180deg,#73c0f0,#414dcc);
    padding-top: 1%;
    font-size: 200%;
    text-align: center;
    color: white;
    border: solid;
    border-radius: 10px;
    padding-bottom: 1%;
}
.Iresim table {
    background-image: linear-gradient(180deg,#73c0f0,#414dcc);
    color: white;
    border: solid;
    border-radius: 10px;
    margin-left: 7.3%;
    padding-right: 5%;
    font-size: 150%;
    float: left;
    border-collapse: separate;
    border-spacing: 15px;
}
.dugme1 {
    font-size: 16px; /* Başlangıç font boyutu */
    padding: 10px 20px; /* Düğme içeriği ile etrafındaki boşluk */
    border-radius: 5px; /* Köşeleri yuvarlat */
    cursor: pointer; /* Fare imlecini göstermek için el göstergesi */
    transition: transform 0.3s;
    margin-top:50px;
    margin-right: -100px;
}
.dugme2 {
    font-size: 16px; /* Başlangıç font boyutu */
    padding: 10px 20px; /* Düğme içeriği ile etrafındaki boşluk */
    border-radius: 5px; /* Köşeleri yuvarlat */
    cursor: pointer; /* Fare imlecini göstermek için el göstergesi */
    transition: transform 0.3s;
    margin-top: 50px;
    margin-right: -400px;
}
.dugme2:hover{
transform: scale(1.2); /* Düğmeyi 1.2 kat büyüt */
}
.dugme1:hover {
transform: scale(1.2); /* Düğmeyi 1.2 kat büyüt */
}