
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="aciklama">
    <h2>Hakkımızda</h2>
</div>
<div class="vizyon">
    <div class="op">
        <img src="~/image/cevre-bilim-2.jpg" />
    </div>
    <div class="yazi">
        <p>VIZYON ve MISYONUMUZ</p>
    </div>
    @*<img class="bh" src="~/image/bayram bey png.png" />*@
    <div class="resYaz">
        <img class="vz" src="~/image/col-icon-3.png" />
        <p>
            Çevre Bilim Okulları olarak Atatürk’ün gösterdiği yolda ülkeyi çağdaş uygarlık seviyesinin üstüne çıkartacak gençleri işin ehli eğitimciler aracılığıyla çok boyutlu düşünen, yaşamı öğreten başarılı bireyler yetiştiren bir eğitim modeli oluşturmaktır.<br />
        </p>
        <img class="ms" src="~/image/col-icon-2.png" />
        <p>
            Öğrencilerimizin kişisel gelişimlerini, potansiyelini, yeteneklerini, becerilerini, algılarını sonuna kadar geliştirerek öğreten, yaşayarak öğrenmenin yanında üretmesini de sağlayan bir eğitim öğretim modeliyle “çağın insanını” yetiştirmektir.<br />
        </p>
        <img class="hf" src="~/image/col-icon-4.png" />
        <p>
            Öğrencilerimizi çok boyutlu düşünen, kendine güvenen, sorgulayan, tartışan, araştıran,, sağlıklı, mutlu, kişilikli, lider, kendisiyle ve başkalarıyla rekabet eden gençler olarak yetiştirmek bizim en asli hedefimizdir.<br />
        </p>

    </div>
</div>
