
@{
    ViewBag.Title = "Basin";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="aciklama">
    <h2>Basında Biz</h2>
</div>
<div class="basin">
    <p>A Haber Bültenindeyiz</p>
    <iframe width="400px" height="600px" src="https://www.youtube.com/embed/1z_dMHJJvo4?si=fDMeYQhUPJAkWzeN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> <br />
    <p>Kurucumuz Mehmet Bayram BEKTAŞ-"Dobra Dobra"programına konuk oldu</p>
    <iframe width="80%" height="600px" src="https://www.youtube.com/embed/osVGhyPGXBs?si=AhBmUqHcQF-uYTME" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p>Kurucumuz Avrupa D ye reportaj verdi</p>
    <iframe width="80%" height="600px" src="https://www.youtube.com/embed/aAIiiRIXBMI?si=0a1UPiYFvD5yPOM0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><br />
    <p>Özel Çatalca Sınav Temel Lisesi, Mehmet Bayram Bektaş, Çatalca, Hayırlı İşler</p>
    <iframe width="80%" height="600px" src="https://www.youtube.com/embed/2lMeCa0JEvI?si=ylmbQ0NsjqiIugJ3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><br />
</div>


