
@{
    ViewBag.Title = "Campus";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="aciklama">
    <h2>Kampuslerimiz</h2>
</div>
<div class="campusler">
    <div class="opK">
        <img src="~/image/bilisim-atolyesi (1) (1).jpg" />
    </div>
    <div class="ilkokul">
        
        <p>

            Disiplinli bir eğitim oluşturma <br />
            Çalışma alışkanlığı kazandırma<br />
            Hedef ve amaç belirletebilme<br />
            Bireysel yetenekleri ortaya çıkarma ve geliştirme<br />
            Sosyal sorumluluk projeleri oluşturma ve katılma<br />
            Üreterek tüketmeyi öğretme<br />
            Özgüven sahibi öğrenciler yetiştirme<br />
            Sınıf dışı uygulamalı aktif öğretme<br />
            Yaşam becerilerinin geliştirme ve yaşam gerçeklerini öğretme<br />
            Kişilik gelişimini sağlama<br />
            Robotik kodlama<br />
            Akıl oyunları<br />
            1. sınıftan itibaren ana dil seviyesinde İngilizce, 2. sınıftan itibaren ana dil seviyesinde İngilizce ve Almanca iki dil öğretme<br />
            Ezberden uzak bir eğitim uygulama<br />
        </p>
        <img src="~/image/dogalyasam_1.jpeg" />
    </div>
    <div class="ortaokul">
        <img src="~/image/ortaokul_1.jpeg" />
        <p>
            Akademik başarı için sınavlara hazırlama <br />
            Uluslararası ve ulusal projelere katılma<br />
            Uluslararası öğrenci değişim projelerine katılma<br />
            Akran eğitimi uygulama<br />
            Öğrenci kulüpleri, sosyal sorumluluk projeleri<br />
            Sosyal ve kültürel çok yönlü aktiviteler gerçekleştirebilme<br />
            Bilim, zanaat ve teknolojiyi uygulamalı öğretme<br />
            Sanatsal duyarlılığı artırma ve yetenek geliştirme<br />
            Erasmus eğitim programı<br />
            Değerler eğitimi<br />
        </p>
    </div>
    <div class="lise">
        <img src="~/image/lise_1 (1).jpg" />
        <p>
            Sosyal-Kültürel çok yönlü aktiviteler gerçekleştirme <br />
            Sanatsal duyarlılığı artırma ve yetenek geliştirme<br />
            Kariyer gelişim ve kariyer planlama<br />
            Üniversite hazırlık çalışmaları (TYT - AYT hazırlık programları)<br />
            Hem okulda başarılı olma hem de sınavlara hazırlama<br />
            Akran eğitimi uygulama<br />
            Akademik başarıyı, özgüveni ve özsaygıyı geliştirme<br />
            İki yabancı dil eğitimi uygulama<br />
            Eğitimi zanaat, teknoloji, doğal yaşam, liderlik, ilgi ve yetenek yönüyle geliştirme destekleme<br />
        </p>
    </div>
</div>

