
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="slider">
    <!-- Insert to your webpage where you want to display the slider -->
    <div class="amazingslider-wrapper" id="amazingslider-wrapper-1" style="display:block;position:relative;max-width:1150px;margin:0px auto 56px;">
        <div class="amazingslider" id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
            <ul class="amazingslider-slides" style="display:none;">
                <li>
                    <img src="~/images/slider-1.png" />
                </li>
                <li>
                    <img src="~/images/Ba%C5%9Fl%C4%B1ks%C4%B1z-1_%C3%87al%C4%B1%C5%9Fma%20Y%C3%BCzeyi%201.jpg" />
                </li>
            </ul>
            <ul class="~/amazingslider-thumbnails" style="display:none;">
                <li><img src="~/images/slider-1-tn.png" /></li>
                <li><img src="~/images/Ba%C5%9Fl%C4%B1ks%C4%B1z-1_%C3%87al%C4%B1%C5%9Fma%20Y%C3%BCzeyi%201-tn.jpg" /></li>
            </ul>
        </div>
    </div>
    <!-- End of body section HTML codes -->
</div>
<div class="section">
    <div class="sec">
        <marquee>
            Kişiye özgü etkin psikolojik danışmanlık ve rehberlik uygulama. Kişiye özgü rehberlik, ilgi, yetenek ve yönlendirme takip sistemi. Öğrenme ortamını sınıfın ve okulun dışına taşıma.
        </marquee>
    </div>
    <div class="sec1">
        <img src="~/image/icon-2.png" />
        <p>Ilkokul</p>
        <p class="yaz1">
            Alanında uzman öğretmenlerle eğitme<br />
            Disiplinli bir eğitim oluşturma<br />
            Çalışma alışkanlığı kazandırma<br />
            Hedef ve amaç belirletebilme<br />
            Üreterek tüketmeyi öğretme <br />
            Özgüven sahibi öğrenciler yetiştirme <br />
        </p>
        <img class="okul1" src="~/image/ÇBK Bina yeni.png" alt="Alternate Text" />
    </div>
    <div class="sec2">
        <img src="~/image/icon-3.png" />
        <p>Ortaokul</p>
        <p class="yaz1">
            Çift yabancı dil eğitimi (Almanca ve İngilizce)<br />
            Akademik başarı için sınavlara hazırlama<br />
            Uluslararası ve ulusal projelere katılma<br />
            Uluslararası öğrenci değişim projelerine katılma <br />
            Akran eğitimi uygulama <br />
            Öğrenci kulüpleri, sosyal sorumluluk projeleri <br />
        </p>
        <img class="okul1" src="~/image/ÇBK Bina yeni.png" alt="Alternate Text" />
    </div>
    <div class="sec3">
        <img src="~/image/icon-4.png" />
        <p>Lise</p>
        <p class="yaz1">
            Sosyal-Kültürel çok yönlü aktiviteler gerçekleştirme <br />
            Sanatsal duyarlılığı artırma ve yetenek geliştirme<br />
            Kariyer gelişim ve kariyer planlama<br />
            Üniversite hazırlık çalışmaları (TYT - AYT hazırlık programları)<br />
            Hem okulda başarılı olma hem de sınavlara hazırlama<br />
            Akran eğitimi uygulama<br />
        </p>
        <img class="okul2" src="~/image/DFSD.png" alt="Alternate Text" />

    </div>
</div>

